<div id="back-button-div">
  <button mat-fab color="accent" (click)="navigateBack()"><mat-icon class="">arrow_back</mat-icon></button>
</div>
<section>
  <header class="text-center">
    <h5>แก้ไขคำอธิบายที่มาของหลักฐาน</h5>
  </header>
</section>
<section>
  <div fxLayout="row">
    <div fxFlex.gt-sm="100%">
      <mat-card>
        <mat-card-title>
          <h5>มาตรฐาน/ประเด็นพิจารณา</h5>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            {{ this.eqatext }}
          </p>
        </mat-card-subtitle>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex.gt-sm="20%">
            </div>
            <div fxFlex.gt-sm="60%" class="data">
              <mat-form-field style="width: 100%;">
                <input matInput [(ngModel)]="evidencesName" placeholder="ชื่อหลักฐาน" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="20%">
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex.gt-sm="20%">
            </div>
            <div fxFlex.gt-sm="60%" class="data">
              <mat-form-field style="width: 100%;">
                <textarea [(ngModel)]="evidencesDescript" matInput placeholder="ที่มาของหลักฐาน" ></textarea>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="20%">
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex.gt-sm="40%" class="topic">
              <span>ตัวอย่าง:</span>
            </div>
            <div fxFlex.gt-sm="60%" class="data">
              <img style="width: 100%;" *ngIf="(fileType == 'image/jpeg') || (fileType == 'image/png') || (fileType == 'image/gif')" src="http://www.satit.nu.ac.th/2016/nodeUploadFiles/uploads/{{ this.sourceFileName }}"
              />
              <img *ngIf="fileType == 'application/pdf'" src="http://www.satit.nu.ac.th/2016/files/15269791470.png" #pdf />
              <img *ngIf="fileType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" src="http://www.satit.nu.ac.th/2016/files/15269791471.png"
                #word />
              <img *ngIf="fileType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" src="http://www.satit.nu.ac.th/2016/files/15269791472.png"
                #excel />
            </div>
          </div>
        </mat-card-content>
        <hr />
        <mat-card-actions class="text-right">
          <span *ngIf="isError" style="color: red;">การแก้ไขผิดลาด</span>
          <button (click)="edit()" style="margin-right: 1.2rem; width: 25%;" mat-raised-button color="primary"><mat-icon>edit</mat-icon> แก้ไข</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>