
.item-div{
    // padding: 0.7rem;
    width: 100%;
    font-size: 1.2rem;
    font-size: 1.2rem;
}
.item-level-1{
    padding: 0.1rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
}
.item-level-2 {
    padding-left: 2.5rem;
    font-size: 1.0rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
}

.item-level-3 {
    padding-left: 5rem;
    font-size: 0.85rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
}
.item :hover{
    // background-color: #fff3e0;
    cursor: pointer;
    color: #01579b;
}