<div id="back-button-div">
  <button mat-fab color="accent" (click)="navigateBack()"><mat-icon class="">arrow_back</mat-icon></button>
</div>
<section>
  <header class="text-center">
    <!-- <img src="/assets/logo/logo-nud-info.png"> -->
    <h5>ระบบกิจกรรมพัฒนาผู้เรียน (ชุมนุม) <span class="playTutorialBtn"><mat-icon>play_circle_filled</mat-icon></span></h5>
    <p>

    </p>
  </header>
</section>
<section>
<header class="text-center">
  <div class="mat-subhead">
  </div>
</header>
</section>
<section>
<article>
  <mat-card>
    <mat-card-content>
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span class="push-left-sm" style="vertical-align: middle;"> 
          <h6>
              รายวิชาชุมนุมของฉัน
          </h6>
        </span>
        <span class="push-right-sm" flex></span>
        <span>
            <button mat-icon-button [matMenuTriggerFor]="menuBelow"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menuBelow="matMenu" xPosition="after" yPosition="below">
              <button mat-menu-item (click)="newCongregationSubject()">
                <mat-icon>playlist_add</mat-icon> ตั้งรายวิชาชุมนุมใหม่
              </button>
              <button disabled mat-menu-item >
                <mat-icon>print</mat-icon> พิมพ์ตามราง
              </button>
              <button disabled mat-menu-item >
                  <mat-icon>file_download</mat-icon> ดาวน์โหลดตารางนี้
                </button>
            </mat-menu>
        </span>
      </div>
      <mat-divider></mat-divider>
      <td-data-table #dataTable [clickable]="true" [data]="filteredData" [multiple]="canMultiple" [selectable]="canSelect" [columns]="columnsStandard"
        [sortable]="true" (rowSelect)="selectedStandardItem($event)" (selectAll)="selectedStandardItem($event)" (rowClick)="rowClick($event)">
      </td-data-table>
      <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h6>-- ไม่พบรายการ --</h6>
      </div>
      <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)" class="push-top">
        <span td-paging-bar-label hide-xs>ลำดับที่แสดง:</span> {{pagingBar.range}} <span hide-xs> จากทั้งหมด {{pagingBar.total}} รายการ</span>
      </td-paging-bar>
    </mat-card-content>
  </mat-card>
</article>
</section>