
<div id="back-button-div">
  <button mat-fab color="accent" (click)="navigateBack()"><mat-icon class="">arrow_back</mat-icon></button>
</div>
<section>
  <header class="text-center">
    <mat-card>
      <h5>{{ subStandardText }}</h5>
    </mat-card>

  </header>
  <article>
    <div fxLayout="row" fxLayoutGab="25px">
      <div fxFlex.gt-sm="50%">
        <mat-card>
          <mat-card-header>
            <h5>ข้อมูลรายวิชา</h5>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex.gt-sm="100%">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="ประจำปีการศึกษา" readonly="true" [value]="yearText" />
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxFlex.gt-sm="100%">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="ภาคเรียนที่" readonly="true" [value]="semesterText" />
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxFlex.gt-sm="100%">
                <mat-form-field style="width: 100%;">
                  <input style="" matInput placeholder="ครูผู้สอน" readonly="true" [value]="teacherText" />
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxFlex.gt-sm="100%">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="สถานที่สอน" readonly="true" style="text-align: right;" [value]="locationText" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer class="text-center">
            <button (click)="removeCongregation()" mat-raised-button color="warn" class="push-top-sm"><mat-icon>delete</mat-icon> ลบชุมนุมนี้</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="gotoEdit()" mat-raised-button color="" class="push-top-sm"><mat-icon>edit</mat-icon> แก้ไข</button>
            <br /><br />
          </mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="50%">
        <h5>คำอธิบายชุมนุม</h5>
        <div class="fr-view" id="subInfo">
          <!-- {{ description }} -->
        </div>
      </div>
    </div>
    <div fxLayout="row">

      <mat-card fxFlex.gt-sm="100%">
        <mat-card-content>
          <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm" style="vertical-align: middle;">
                  <mat-icon class="" style="bottom: -5px; display: inline-block; position: relative;">format_list_numbered</mat-icon> 
                  <span class="mat-title"> 
                    รายชื่อสมาชิกชุมนุม<br />
                  </span>
            </span>
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                </span>

            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
              flex>
            </td-search-box>
            <span>
                  <button mat-icon-button [matMenuTriggerFor]="menuBelow"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menuBelow="matMenu" xPosition="after" yPosition="below">
                    <button mat-menu-item (click)="downloadStudentListExcel()">
                      <mat-icon>playlist_add</mat-icon> ดาวน์โหลดรายชื่อ
                    </button>
                  </mat-menu>
              </span>
          </div>
          <td-data-table #dataTable [clickable]="true" [data]="filteredData" [multiple]="canMultiple" [selectable]="canSelect" [columns]="columnsStandard"
            [sortable]="true" (rowSelect)="selectedStandardItem($event)" (selectAll)="selectedStandardItem($event)" (rowClick)="rowClick($event)">
          </td-data-table>
          <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
            <h6>-- ไม่พบรายการ --</h6>
          </div>
          <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)" class="push-top">
            <span td-paging-bar-label hide-xs>ลำดับที่แสดง:</span> {{pagingBar.range}} <span hide-xs> จากทั้งหมด {{pagingBar.total}} รายการ</span>
          </td-paging-bar> 
        </mat-card-content>
      </mat-card>
    </div>
  </article>
</section>