:host {
    /deep/ .mat-tab-body-content {
      padding: 12px;
    }
    .tab-group {
      overflow: hidden;
    }
  }

  .nav-link{
    margin-left: 10px;
    margin-right: 10px;
  }
  
mat-panel-title{
  // font-size: 30px;
  // line-height: 32pt;
}
.full-width {
  width: 100%;
}
.my-drop-zone { 
  border: dashed 1px green; 
  height: 170px;
  // vertical-align: middle;
  // padding-top: 70px;
  text-align: center;
  font-size: 1.5rem;
  width: 500px;
  opacity: 0;
  position: absolute;
}
.nv-file-over { border: dotted 1px red; }
.drop-place{
  border: solid 1px black;
  height: 170px;
  // padding-bottom: 70px;
  // width: 80px;
  width: 500px;
  border: dashed 1px lightgray; 
  position: absolute;
  // text-align: center;
  // vertical-align: middle;
}

.drop-place :hover{
  cursor: pointer;
}

.mat-tab-label-text{
  color: black;
  margin-top: -10px;
  position: absolute;
  width: 100%;
  margin-left: -67px;
}

ng-template{
  text-align: left;
}

textarea{
  width: 150px;
  width: 100%;
}

mat-radio-button{
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
}

.icon-mat-tab{
  position: absolute;
  margin-left: -70px;
  margin-top: -15px;
}

mat-card-title{
  color: tomato;
}

.mat-icon-topic{
  position: absolute;
  margin-bottom: -8px;
  margin-left: -30px;
}

.topic-text{
  padding-left: 30px;
}

mat-card-footer{
  text-align: center;
  padding-bottom: 1rem;
}

.list-container {
  max-height: 300px;
  margin-right: 10px;
  position: relative;
}

.head-file-name{
  font-weight: bold;
  font-size: 1.5rem;
  color: tomato;
}

#list-table{
  width: 100%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  color: 999;
  vertical-align: top;
}
.topic-table{
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}


mat-card{
  margin-bottom: 3.5rem;
}

.div-btn-download-ediv{
  width: 100px;
  text-align: center;
}

.edivTopic{
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}
.edivTopicname{
  font-size: 1.3rem;
  color: #333;
  padding-left: 2.5rem;
}
.blocks {
  height: 350px;

  &.low {
    height: 60px;
  }
  &>div {
    padding-top: 10px;
    text-align: center;
    min-width: 75px;
    min-height: 40px;
    border-radius: 2px;
    &:nth-child(2) {
      min-height: 55px;
    }
    &:nth-child(4) {
      min-height: 55px;
    }
  }
}
.low-blocks {
  height: 100px;
  .block {
    margin: 5px;
    line-height: 100px;
    text-align: center;
  }
}
.block {

}
mat-radio-group {
  padding-top: 15px;
}
.mat-radio-button {
  margin-top: 10px;
}

.topicBack:hover {
  cursor: pointer;
}

.topicBack {
  text-decoration: underline;
  padding-right: 2rem;
  font-size: 15px;
}

.comment-item{
  padding-top: 0.9rem;;
}

.comment-item:hover{
  // cursor: pointer;
  // background-color: gainsboro;
}

.btn-comment-action:hover{
  // cursor: pointer;
}
